#campaign-designer {
    background: #fafafa;
    width: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;

    .nav {
        padding: .5em;
    }

    .dragging {
        cursor: move;
    }

    .axis line {
        fill: none;
        stroke: #ddd;
        shape-rendering: crispEdges;
        vector-effect: non-scaling-stroke;
    }

    .component {
        cursor: pointer;

        &.selected {
            z-index: 9999;
        }

        &.dragging {
            cursor: move;
            filter: url(#shadow);
        }

        .bbox {
            fill: #ddd;
            fill-opacity: .3;
            stroke: #666;
            stroke-width: 0.5px;
            stroke-opacity: 0.6;
            stroke-dasharray: 5,5;
        }
    }

    .component {
        &.conversation {
            @inner-disc-bg: #000;

            .name {
                font-size: 2.0em;
                font-weight: bold;
                text-anchor: end;
                alignment-baseline: central;
            }

            .description {
                font-size: .8em;
                font-weight: normal;
                text-anchor: end;
                alignment-baseline: central;
            }

            .disc {
                &.inner {
                    fill: @inner-disc-bg;
                }
            }
        }

        &.router {
            @bg: #000;
            @fg: #fff;

            .disc {
                fill: @bg;
            }

            .name {
                fill: @fg;
                font-weight: bold;
                text-anchor: middle;
                alignment-baseline: central;
            }

            .pin {
                .head {
                    fill: @bg;
                }

                .line {
                    stroke: @bg;
                    stroke-width: 2px;
                }
            }
        }

        &.channel {
            @inner-disc-bg: #000;
            @outer-disc-bg: #ccc;
            @outer-disc-opacity: 0.6;

            .disc {
                &.outer {
                    fill: @outer-disc-bg;
                    fill-opacity: @outer-disc-opacity;
                }

                &.inner {
                    fill: @inner-disc-bg;
                }
            }

            .name {
                font-size: 2.0em;
                font-weight: bold;
                text-anchor: start;
                alignment-baseline: central;
            }

            .description {
                font-size: 0.8em;
                font-weight: normal;
                text-anchor: start;
                alignment-baseline: central;
            }
        }

        &.connection {
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;

            stroke: black;
            stroke-width: 5;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;

            &:hover {
                stroke-width: 20;
            }
        }
    }

    .control-point {
        @point-bg: blue;

        .point {
            fill: @point-bg;
        }
    }
}
