<div class="modal-header">
    <h3 class="modal-title">Add router</h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty }">
            <label for="field-name">Name</label>
            <input id="field-name" type="text" name="name" class="form-control"
                        data-ng-model="data.name" />
        </div>
        <div class="form-group">
            <label for="field-description">Description</label>
            <textarea id="field-description" type="text" name="description" class="form-control"
                             data-ng-model="data.description"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$pristine || form.$invalid">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
