<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;<span data-ng-if="!router">Add router</span><span data-ng-if="router">Edit router</span></h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group required" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty }">
            <label for="field-name">Name</label>
            <input id="field-name" type="text" name="name" class="form-control"
                   data-ng-model="data.name" />
        </div>
        <div data-ng-repeat="endpoint in data.endpoints track by $index">
            <ng-form name="f">
                <div class="form-group">
                    <label for="field-endpoint-{{ $index }}">
                        <span>Keyword #{{ $index + 1 }}</span>
                        <a class="btn btn-link"
                           data-ng-show="!endpoint.connected"
                           data-ng-click="removeEndpoint(form, $index)">
                            <i class="fa fa-times-circle"></i>&nbsp;Remove keyword
                        </a>
                    </label>
                    <input id="field-endpoint-{{ $index }}" type="text" name="endpoint{{ $index }}"
                           class="form-control" data-ng-model="endpoint.name"></input>
                </div>
            </ng-form>
        </div>
        <a class="btn btn-link" data-ng-click="addEndpoint(form)">
            <i class="fa fa-plus-circle"></i>&nbsp;<span>Add keyword</span>
        </a>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="$close({ data: data, layout: layout })" data-ng-disabled="form.$pristine || form.$invalid">OK</button>
    <button class="btn btn-warning" data-ng-click="$dismiss('cancel')">Cancel</button>
</div>
