<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add router</h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group required" ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty }">
            <label for="field-name">Name</label>
            <input id="field-name" type="text" name="name" class="form-control"
                   data-ng-model="data.name" />
        </div>
        <div class="form-group">
            <label for="field-description">Description</label>
            <textarea id="field-description" type="text" name="description" class="form-control"
                      data-ng-model="data.description"></textarea>
        </div>
        <div data-ng-repeat="endpoint in data.endpoints track by $index">
            <ng-form name="f">
                <div class="form-group">
                    <label for="field-endpoint-{{ $index }}">
                        <span>Keyword #{{ $index + 1 }}</span>
                        <a class="btn btn-link" data-ng-click="removeEndpoint($index)">
                            <i class="fa fa-times-circle"></i>&nbsp;Remove keyword
                        </a>
                    </label>
                    <input id="field-endpoint-{{ $index }}" type="text" name="endpoint{{ $index }}"
                           class="form-control" data-ng-model="endpoint.name"></input>
                </div>
            </ng-form>
        </div>
        <a class="btn btn-link" data-ng-click="addEndpoint()">
            <i class="fa fa-plus-circle"></i>&nbsp;<span>Add keyword</span>
        </a>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close(data)" ng-disabled="form.$pristine || form.$invalid">OK</button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
</div>
