<div id="campaign-designer" data-ng-class="{'adding': newComponent != null}">
    <ul class="nav nav-pills">
        <li>
            <a href="#" class="btn-new" data-ng-click="new()">
                <span class="glyphicon glyphicon-file"></span> New
            </a>
        </li>
        <li class="dropdown">
            <a class="btn-add dropdown-toggle" href="javascript://">
              <span class="glyphicon glyphicon-plus"></span> Add <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="javascript://" class="btn-add-conversation"
                       data-ng-click="openComponentForm({ type: 'conversation', conversation_type: 'bulk-message', name: 'New conversation' })">
                        <span class="glyphicon glyphicon-cog"></span> Conversation
                    </a>
                </li>
                <li>
                    <a href="javascript://" class="btn-add-channel"
                       data-ng-click="openComponentForm({ type: 'channel', name: 'New channel' })">
                        <span class="glyphicon glyphicon-road"></span> Channel
                    </a>
                </li>
                <li>
                    <a href="javascript://" class="btn-add-router"
                       data-ng-click="openComponentForm({ type: 'router', router_type: 'keyword', name: 'New conversation' })">
                        <span class="glyphicon glyphicon-random"></span> Router
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="btn-zoom-in" data-ng-click="zoomIn()">
                <span class="glyphicon glyphicon-zoom-in"></span> Zoom in
            </a>
        </li>
        <li>
            <a href="#" class="btn-zoom-out" data-ng-click="zoomOut()">
                <span class="glyphicon glyphicon-zoom-out"></span> Zoom out
            </a>
        </li>
    </ul>
</div>
